<hr>
<div class="footerSection">
    <div class="d-grid justify-content-center">
        <img src="companyLogo.png" alt="" style="width: 100px;">
        <span class="text-secondary">
            {{'@2024'}}
        </span>
    </div>
    <div class="d-grid justify-content-center">
        <h3>
            Version
        </h3>
        <span class="text-secondary">
            2.2.2
        </span>
    </div>
    <div class="d-grid justify-content-center">
        <h3>
            About
        </h3>
        <span class="text-secondary">
            Contat Us
        </span>
        <span class="text-secondary">
            Privacy
        </span>
        <span class="text-secondary">
            Terms Of Use
        </span>
    </div>
</div>